<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=640" />

    <link rel="stylesheet" href="/stylesheets/core.css" media="screen"/>
    <link rel="stylesheet" href="/stylesheets/mobile.css" media="handheld, only screen and (max-device-width:640px)"/>
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css"/>

    <script type="text/javascript" src="/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/headsmart.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
    <title>Eclipse China | Eclipse 中国</title>
  </head>

  <body>
	<!-- <a href="http://eclipse-china.github.io">Back to home page</a> -->  	
    <a id="forkme_banner" href="https://github.com/Eclipse-China">View on GitHub</a>
    <div class="shell">

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <p><a href="/">Eclipse 中国</a></p>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      <!-- 
        <span class="ribbon-outer">
        	<a href="/">
          <span class="ribbon-inner">
            <h1>Eclipse 中国</h1>
            <h2>Eclipse China</h2>
          </span>
          	</a>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
         -->
      </footer>

      <div id="no-downloads">
        <span class="inner">
        </span>
      </div>

      <span class="banner-fix"></span>

      <section id="main_content">
      </section>
      
    <div id="embedded-forum">
    	{{ content }}
    </div>

<div>	
<a href="https://github.com/Eclipse-China" target="_blank">
  <img src="https://github.com/github/media/raw/master/logos/github_logo_social_coding_outlined.png" style="border: 0" alt="github.com" height="39" width="88">
</a>

<a href="http://www.eventbrite.com/org/3505778863?ref=eorgbtn" target="_blank">
<img src="/Pictures/JVM-and-Node-2-micro.png" /></a>        

<a href="http://with-eclipse.github.io/" target="_blank">
<img alt="with-Eclipse logo" src="http://with-eclipse.github.io/with-eclipse-1.jpg"  width="100" height="50" /></a>
        
        <!-- 
<a href="http://www.eventbrite.com/org/3505778863?ref=eorgbtn" target="_blank">
<img src="/Pictures/JVM-and-Node-2-micro.png" /></a>        

<a href="http://with-eclipse.github.io/" target="_blank"><img alt="with-Eclipse logo" src="http://with-eclipse.github.io/with-eclipse-1.jpg"  width="350" height="200" /></a>

 -->
</div>      

    </div>

    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41377881-1', 'eclipse-china.github.io');
  ga('send', 'pageview');

</script>
  </body>
</html>
